/*======================*/
/*---------reset--------*/
/*======================*/
html{font-size:87.5%;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,from,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{
font-size:1rem;
font-family:Arial;
box-sizing:border-box;
box-sizing:-moz-border-box; /* Firefox */
box-sizing:-webkit-border-box; /* Safari */
}
li{list-style:none;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
a{text-decoration:none; color:#656565;}

/*======================*/
/*----------clear---------*/
/*======================*/
.clearfix:after{content:"";display:block;clear:both;}
/*.clearfix{zoom:1;}*/
.fl{float:left;}
.fr{float:right;}


/*font*/
.t_font_32{
	font-size: 1.5rem;
	font-family: Arial, Arial-Regular;
	font-weight: 400;
	color: #333333;
	margin: 2% 0;
}
.t_font_25b{
	font-size: 1.55rem;/*33px bold*/
	font-family: Arial, Arial-Bold;
	font-weight: 700;
	color: #ffffff;
}
.t_font_24b{
	font-size: 1.5rem;/*36px  bold*/
	font-family: Arial, Arial-Bold;
	font-weight: 700;
	color: #333333;
}
.t_font_33{
	font-size: 2rem;/*33px*/
	font-family: Arial, Arial-Bold;
	font-weight: 400;
	color: #ffffff;
}
.t_font_36{
	font-size: 1.7rem;/*36px  bold*/
	font-family: Arial, Arial-Bold;
	font-weight: 700;
	color: #333333;
}
.t_font_40b{
	font-size: 1.85rem;/*40px  bold*/
	font-family: Arial, Arial-Bold;
	font-weight: 700;
	color: #333333;
}
.c_font_16{
	font-size: 0.75rem;/*16px*/
	font-family: Arial, Arial-Regular;
	font-weight: 400;
	color: #666666;
}
.c_font_14{
	font-size: 0.875rem;/*20px*/
	font-family: Arial, Arial-Regular;
	font-weight: 400;
	color: #333;
}
.c_font_15{
	font-size: 0.95rem;/*20px*/
	font-family: Arial, Arial-Regular;
	font-weight: 400;
	color: #666666;
}
.c_font_24{
	font-size: 1.5rem;/*24px*/
	font-family: Arial, Arial-Bold;
	font-weight: 400;
	color: #666666;
}

.c_font_183{
	font-size: 1.125rem;/*24px*/
	font-family: Arial, Arial-Bold;
	font-weight: 700;
	color: #333;
}
.c_font_18{
	font-size:1.125rem;/*24px bold*/
	font-family: Arial, Arial-Bold;
	font-weight: 700;
	color: #666666;
}
.c_font_184{
	font-size:1.125rem;/*24px bold*/
	font-family: Arial, Arial-Bold;
	font-weight: 400;
	color: #666666;
}
.c_font_21{
	font-size: 1.3rem;/*28px */
	font-family: Arial, Arial-Bold;
	font-weight: 400;
	color: #666666;
}
.c_font_47{
	font-size: 2.2rem;
	font-family: Arial, Arial-Regular;
	font-weight: 400;
	color: #ffffff;
}


/*栏目开始*/
/*System operation video*/
section{
	max-width: 1200px;
	margin: 0 auto;
}
.w97{
	width: 97%;
	padding: 0 1.5%;
}
/*title*/
.b_title{
	height: 53px;
	background-color: #030303;
	display: flex;
	align-items: center;
}
.b_title>img{
	display: inline-block;
	width: 32px;
	height: 19px;
	line-height: 53px;
}
.b_title p{
	display: block;
/*	width: 80%;*/
	margin-left: 15px;
}
.line{
	display: block;
	flex: 1;
/*	height: 1px;*/
	margin-left: 3%;
	border: 1px #424242 dashed;
}

/*head video*/
.sys_content{
	width: 100%;
	margin: 0 auto;
/*	position: relative;*/
	max-height: 557px 100%;
	background: url(https://photo.yitagroup.com/gd_Photos/test/img/img_2.png) no-repeat;
	background-size: 100%;
	}
.sys_content_center{
	display: flex;
	justify-content: space-between;
}
.sys_content .bg{
	display: flex;
	flex-wrap: wrap;
}
.sys_content .bg img:nth-child(1),
.sys_content .bg img:nth-child(3){
	width: 50.6875%;
	height: 50.6875%;
	display: block;
}
.sys_content .bg img:nth-child(2),
.sys_content .bg img:nth-child(4){
	width: 49.3125%;
	height: 49.3125%;
	display: block;
}

.sys_content_center_item:nth-child(2){
	width: 66.44%;
	background-image: linear-gradient(#050507, #000);
	background-image: -o-linear-gradient(#050507, #000);
	background-image: -ms-linear-gradient(#050507, #000);
	background-image: -moz-linear-gradient(#050507, #000);
	background-image: -webkit-linear-gradient(#050507, #000);
}

.sys_content>img{
	width: 100%;
}
.sys_content .video-dispaly{
	width: 65%;
	padding: 1% 0;
	margin: 0 auto;
	padding-top: 6%;
    padding-bottom: 7%;
}
.sys_content .video-dispaly video{
	width: 91.4%;
	margin: 0 auto;
	display: block;
}

/*Feature*/
.feature{
	margin: 2.5% 0;
	display: flex;
}
.feature_item{
	flex: 1;
	text-align: center;
	padding: 0;
	border-right: 1px dashed #E3E3E3;
}
.feature_item:nth-last-child(1){
	border-right: none;
}
.feature_item img{
	width: 100%;
}
.feature_item p{
	margin: 10px 0;
}

/*Detail*/
.Detail{
	display: flex;
	margin: 5% 0;
	align-items: flex-end;
}
.Detail_item{
	flex: 1;
	text-align: center;
	margin: 0 1%;
}
.Detail_item:nth-child(1){
	margin-left: 0;
}
.Detail_item:nth-child(3){
	margin-right: 0;
}
.Detail_item h3{
	color: #333;
	margin-bottom: 16px;
}
.Detail_item img{
	width: 100%;
	border-radius: 3%;
	margin-top: 35px;
}

/*video*/
.cvideo{
	margin: 3% 0 4%;
}
.cvideo_con_top{
	display: flex;
/*	margin-bottom: 3%;*/
}
.cvideo_con_top .cvideo_con_item:nth-child(1){
	width: 50%;
}
.cvideo_con_top .cvideo_con_item:nth-child(2){
	width: 40.7%;
}
.cvideo_con_top .video-dispaly{
	width: 100%;
}
.cvideo_con_top .video-dispaly video{
	padding: 1%;
	width: 98%;
	border: 1px #666 dotted;
}

.cvideo_con_top .cvideo_con_item img:nth-child(1){
	display: block;
	width: 60% !important;
	height: auto;
}
.cvideo_con_top .cvideo_con_item img:nth-last-child(1){
	display: block;
	width: 50% !important;
	height: auto;
	float: right;
	margin-top: 10%;
}
.cvideo_con_top .cvideo_con_item:nth-child(2){
	padding: 0 4% 0 6%;
}
.cvideo_con_top .cvideo_con_item:nth-child(2) p{
	display: inline-block;
	width: 90%;
	margin: 11% 0;
	padding-left: 3%;
	word-wrap: break-word;
}
.cvideo_con_bot{
	width: 100%;
	margin-top: -3%;
}
.cvideo_con_bot .cvideo_con_item{
	display: flex;
	margin-bottom: 2%;
}
.cvideo_con_bot .video_title{
	width: 50%;
	display: block;
	padding-top: 2%;
	font-size: 4.5rem;
	font-family: Arial, Arial-Black;
	font-weight: 900;
	color: #333333;
	margin: 0;
}
.cvideo_con_bot .cvideo_con_item i{
	display:block;
	width: 50%;
	border-bottom: 1.2em solid;
	border-image: -moz-linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
	border-image: -webkit-linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
	border-image: -o-linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
	border-image: -ms-linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
	border-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
}
.cvideo_con_bot .cvideo_con_item2{
	display: flex;
}
.cvideo_con_bot .cvideo_con_item2 p{
	display: block;
	flex: 1;
	padding-right: 15%;
	background: url(https://photo.yitagroup.com/gd_Photos/test/img/img_42.png) no-repeat;
	background-size: 97%;
	background-position:left bottom;
}
.cvideo_con_bot .cvideo_con_item2 .video-dispaly{
	width: 50%;
	padding-top: 4%;
}
.cvideo_con_bot .cvideo_con_item2 .video-dispaly video{
	width: 98%;
	padding: 1%;
	border: 1px #666 dotted;
}

.cvideo_con_text{
	display: flex;
}
.cvideo_con_text .cvideo_con_item{
	margin-top: 4%;
}
.cvideo_con_text .cvideo_con_item:nth-child(1){
	width: 50%;
	position: relative;
}
.cvideo_con_text .cvideo_con_item:nth-child(1) p{
	display: block;
	width: 90%;
	position: absolute;
	bottom: 0;
}
.cvideo_con_text .cvideo_con_item:nth-child(2){
	width: 50%;
}
.cvideo_con_text .cvideo_con_item:nth-child(2) p{
	text-indent: -2rem;
	margin-left: 2rem;
	margin-bottom: 2%;
}
.cvideo_con_text .cvideo_con_item:nth-child(2) p:nth-last-child(1){
	margin-bottom: 0px;
}
/*Notes*/
.Notes{
	padding: 3% 0;
}
.Notes_top{
	display: flex;
}
.Notes_top .Notes_top_item:nth-child(2){
	margin: 0 6%;
}
.Notes_top img{
	display: block;
	width: 100%;
	margin: 5% 0;
}
.Notes_bot{
	display: flex;
	justify-content: space-between;
}
.Notes_bot .Notes_bot_item{
	text-align: center;
	margin-top: 3%;
}
.Notes_bot .Notes_bot_item:nth-child(2){
	margin-left:6%;
	margin-right:6%;
}
.Notes_bot .Notes_bot_item img{
	display: block;
	width: 100%;
	border: 1px  #bfbfbf solid;
	border-radius: 10px;
}
.Notes_bot .Notes_bot_item p{
	display: inline-block;
	padding: 3px 30px;
	background: #797979;
	border-radius: 30px;
	margin-top: -30px;;
}
/*Installation*/
.Installation{
	margin-bottom: 4%;
}
.Installation img{
	display: block;
	width: 100%;
}

.products{
	display: flex;
	flex-wrap: wrap;
}
.products_item{
	width: 18.3%;
	margin: 3% 0 2% 2%;
}
.products_item:nth-child(1),
.products_item:nth-child(6){
	margin-left: 0px;
}
.products_item img{
	display: block;
	width: 100%;
	border: 1px  #bfbfbf solid;
	border-radius: 10px;
}
.products_item p,.products_item h1{
	margin-left: 1%;
}

/*auto*/
@media screen and (max-width:800px){
	.feature_item p{
		display: none;
	}
	.cvideo_con_top{
		flex-direction: column;
	}
	.cvideo_con_top .cvideo_con_item{
		width: 98% !important;
		padding: 0;
	}
	.cvideo_con_top .cvideo_con_item:nth-child(2){
		margin: 2% 0;
		padding-left: 2%;;
	}
	.cvideo_con_top .cvideo_con_item:nth-child(2) p{
		padding-left: 0px;
		margin-top: 5%;
		margin-bottom: 2%;
	}
	.cvideo_con_top .cvideo_con_item img:nth-child(1){
		width: 34.5% !important;
}
	.cvideo_con_top .cvideo_con_item img:nth-last-child(1){
		width: 26% !important;
		height: auto;
		margin-top: 3%;
}
	.cvideo_con_bot .cvideo_con_item2{
		flex-direction: column-reverse;
	}
	.cvideo_con_bot .cvideo_con_item2 .video-dispaly{
		width: 98%;
		padding: 2% 0;
	}
	.cvideo_con_bot .cvideo_con_item2 p{
		width: 70%;
		padding-bottom: 8%;
		padding-left: 5%;
		line-height: 1.5rem;
		background-size: 60% auto;
		background-position: right bottom;
	}
	.cvideo_con_text{
		flex-direction: column;
	}
	.cvideo_con_text .cvideo_con_item{
		margin-top: 2%;
	}
	.cvideo_con_text .cvideo_con_item:nth-child(1){
		width: 98%;
	}
	.cvideo_con_text .cvideo_con_item:nth-child(1) p{
		position: inherit;
	}
	.cvideo_con_text .video_text{
		width: 98%;
	}
	.cvideo_con_text p{
		padding-left: 6%;
		width: 87%;
	}
	.video_text{
		width: 98% !important;
	}
/*notes*/
	.t_font_40b{
		font-size: 1.65rem;
	}
	.t_font_36{
		font-size: 1.55rem;
	}
	.c_font_47{
		font-size: 1.5rem;
	}
/*products*/
	.products{
		justify-content: space-around;
	}
	.products_item{
		width: 22%;
		margin: 3% 0;
	}
/*
	.products_item:nth-child(5){
		margin-left: 0;
	}
*/
}
@media screen and (max-width:600px){
	.w97{
		width: auto;
	}
	.b_title{
		height: 40px;
	}
	.b_title>img{
		width: 25px;
		height: 15px;
	}
	.t_font_25b{
		font-size: 1.45rem;
	}
	.feature{
		flex-wrap: wrap;
	}
	.feature_item{
		flex: none;
		width: 16%;
		margin-top: 2%;
	}
/*
	.feature_item:nth-child(-n+6){
		border-bottom: 1px dashed #E3E3E3;
	}
*/
	.cvideo_con_top .cvideo_con_item img:nth-child(1){
		width: 45% !important;
	}
	.cvideo_con_top .cvideo_con_item img:nth-last-child(1){
		width: 38% !important;
	}
	.cvideo_con_bot .video_title{
		font-size: 3rem;
	}
	.cvideo_con_bot .cvideo_con_item i{
		border-bottom: 0.8em solid;
        border-image: -moz-linear-gradient(to right, rgba(0,0,0,0) ,rgba(0,0,0,0.2)) 20 20;
        border-image: -webkit-linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
        border-image: -o-linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
        border-image: -ms-linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
        border-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.2)) 20 20;
	}
	.cvideo_con_bot .cvideo_con_item2 p,
	.cvideo_con_text .cvideo_con_item:nth-child(1) p,
	.cvideo_con_text p{
		width: auto;
		padding-right: 0px;
	}
/*notes*/
	.Notes_top{
		display: block;
	}
	.Notes_top_item{
		display: flex;
		min-height: 140px;
		position: relative;
		padding: 2%;
	}
	.Notes_top .Notes_top_item:nth-child(2){
		margin: 0;
	}
	.Notes_top_item img{
		width: 36%;
		height: 50%;
		padding: 1.5%;
		border: 1px #ccc solid;
		order: 0;
		margin: 0;
	}
	.Notes_top_item p,.Notes_top_item h1,.Notes_top_item h2{
/*		width: 60%;*/
		display: block;
		order: 2;
		position: absolute;
		left: 43%;
	}

	.Notes_top_item h2{
		top: 2.5rem;
	}
	.Notes_top_item p{
		top: 5rem;
	}
	.Notes_bot{
		flex-direction: column;
	}
	.Notes_bot .Notes_bot_item{
		padding: 0 3%;
		text-align: center;
	}
	.Notes_bot .Notes_bot_item:nth-child(2){
		margin-left: 0;
		margin-right: 0;
	}
	.c_font_47{
		font-size: 2.2rem;
	}
	.products_item{
		width: 45%;
	}
	.t_font_32{
		font-size: 1.4rem;
	}
}
@media screen and (max-width:400px){
	.sys_content{
		background-image: none;
		background: #000;
	}
	.sys_content .video-dispaly{
		width: 100%;
		padding: 0px;
	}
	.sys_content .video-dispaly video{
		width: 100%;
	}
	.cvideo_con_bot .cvideo_con_item i{
		display: none;
	}
	.cvideo_con_bot .cvideo_con_item2 p{
		background: none;
	}
	.cvideo_con_bot .cvideo_con_item2 p{
		padding-bottom:2%;
		padding-left: 0px;
	}
	.cvideo_con_text p{
		padding-left: 0px;
	}
	.Detail{
		flex-direction: column;
	}
	.Detail_item{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px #e4e4e4 dotted;
		padding-bottom: 2%;
/*		flex-direction: column-reverse;*/
	}
	.Detail_item img{
		width: 40%;
		height:30%;
		margin-top: 0;
	}
	.Detail_item>div{
		padding-top: 12%;
		width: 55%;
	}
	.Detail_item h3{
		margin-bottom: 2%;
	}
	.Notes_top_item{
		flex-direction: column;
		position: inherit;
		border-bottom: 1px #e4e4e4 dotted;
		padding-bottom: 4%;
	}
	.Notes_top_item p,.Notes_top_item h1,.Notes_top_item h2{
		position: inherit;
		left: 0;
	}
	.Notes_top_item h2{
		margin-bottom: 2%;
	}
	.Notes_top_item img{
		width: 95%;
		height: 50%;
		margin-bottom: 1%;
		border: none;
	}

}
